<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Merchant Entry List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Merchant Entry List</h1>
    
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>  
    <th>Corn Type</th>  
    <th>Corn Price</th>
    <th>Quantity</th>
    <th>Wanted Price</th>
    <th>Comments</th>
    <th>Received Date</th>
    <th>Manage Merchants</th>
    <th>Payment History</th>
        
  </tr>

  <% data.forEach(function(user){ %>
     <tr>
      
       <td><%= user.name %></td>
       <td><%= user.phone %></td>
       <td><%= user.address %></td>
       <td><%= user.corn_type %></td>
       <td><%= user.corn_qty %></td>
       <td><%= user.wanted_price %></td>
       <td><%= user.comment %></td>
       <td><%= user.received_date %></td>
       
     
       <td><a href="../admin/addstock/<%= user.id %>">Edit</a> | <a href="../admin/stocklist/<%= user.id %>">Delete</a></td>
       <td><a href="../admin/payment/<%= user.id %>">Payment History</a></td>
     </tr>
  <% }); %>
 

  </table> 


  </body>

</html>