<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Admin OrderList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Customer OrderList</h1>
 
  
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>   
    <th>Quantity</th>
    <th>Verified Date</th>   
    
  </tr>

  <% data.forEach(function(user){ %>
     <tr>
      
       <td><%= user.name %></td>
       <td><%= user.phone %></td>
       <td><%= user.address %></td>
       <td><%= user.quantity %></td>
       <td><%= user.verified_date %></td>
     
       
     </tr>
  <% }); %>
 

	</table> 

  </body>

</html>