<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>အဝယ်စာရင်း</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>အလုပ်သမားအဝယ်စာရင်း</h1>
    
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>ကုန်သည်အမည်</th>
    <th>ဖုန်းနံပါတ်</th>
    <th>နေရပ်လိပ်စာ</th>  
    <th>ပြောင်းအမျိုးအစား</th>  
    <th>တင်းအရေအတွက်</th>
    <th>ရောင်းလိုသည့်စျေးနှုန်း</th>
    <th>မှတ်ချက်</th>
    <th>စာရင်းသွင်းသည့်ရက်စွဲ</th>
    <th>၀ယ်ယူရမည့် ကုန်သည်စာရင်း</th>
        
  </tr>

  <% data.forEach(function(book){ %>
     <tr>
      
       <td><%= book.name %></td>
       <td><%= book.phone %></td>
       <td><%= book.address %></td>
       <td><%= book.corn_type %></td>
       <td><%= book.corn_qty %></td>
       <td><%= book.wanted_price %></td>
       <td><%= book.comment %></td>
       <td><%= book.received_date %></td>
       
     
       <td><a href="/staff/merchant/add-inventory/<%= book.docId %>">Add Inventory</a> | <a href="../admin/stocklist/<%= book.docId %>">Delete</a></td>
     </tr>
  <% }); %>
 

  </table> 


  </body>

</html>