<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Staff Inventory List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Staff Add Inventory List</h1>
    
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>  
    <th>Corn Type</th>  
    <th>Quantity</th>
    <th>Wanted Price</th>
    <th>Comments</th>
    <th>Received Date</th>
    <th>Purchase Price</th>
        
  </tr>

  <% data.forEach(function(book){ %>
     <tr>
      
       <td><%= book.name %></td>
       <td><%= book.phone %></td>
       <td><%= book.address %></td>
       <td><%= book.corn_type %></td>
       <td><%= book.corn_qty %></td>
       <td><%= book.wanted_price %></td>
       <td><%= book.comment %></td>
       <td><%= book.received_date %></td>
       
     
       <td><a href="/staff/merchant/add-inventory/<%= book.userId %>">Add Inventory</a> | <a href="../admin/stocklist/<%= book.id %>">Delete</a></td>
     </tr>
  <% }); %>
 

  </table> 


  </body>

</html>